################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/moshushou/bin/Debug/net8.0-windows
/moshushou/obj
/.vs
/Backup
/moshushou/bin/Release/net8.0-windows/win-x64
